 .u-section-1 {
  background-image: linear-gradient(#d9d9d9, #d9d9d9);
}

/* .u-section-1 .u-sheet-1 {
  min-height: 4103px;
} */

.u-section-1 .u-tabs-1 {
  min-height: 408px;
  margin: 60px auto 0 0;
}

.u-section-1 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-link-2 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-link-3 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-link-4 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-pane-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  line-height: 1.8;
  margin: 0 auto 0 30px;
}

.u-section-1 .u-group-1 {
  min-height: 319px;
  margin-top: 20px;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-table-1 {
  width: 1100px;
  margin: 20px auto 0;
}

.u-section-1 .u-table-header-1 {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 2px;
}

.u-section-1 .u-table-cell-1 {
  background-image: none;
}

.u-section-1 .u-table-cell-2 {
  background-image: none;
}

.u-section-1 .u-table-cell-3 {
  background-image: none;
}

.u-section-1 .u-table-cell-4 {
  background-image: none;
}

.u-section-1 .u-table-cell-5 {
  background-image: none;
}

.u-section-1 .u-icon-1 {
  width: 15px;
  height: 15px;
  margin: -172px auto 0 312px;
  padding: 0;
}

.u-section-1 .u-icon-2 {
  width: 15px;
  height: 15px;
  margin: 30px auto 112px 312px;
  padding: 0;
}

.u-section-1 .u-group-2 {
  min-height: 365px;
  margin-top: 22px;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 809px;
  margin: 160px auto -89px 126px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 894px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 0 10px;
}

.u-section-1 .u-group-3 {
  min-height: 80px;
  height: auto;
  width: 418px;
  margin: 1px auto 0;
}

.u-section-1 .u-container-layout-5 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-tab-pane-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-table-2 {
  height: 190px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-table-header-2 {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 2px;
}

.u-section-1 .u-table-cell-26 {
  background-image: none;
}

.u-section-1 .u-table-cell-27 {
  background-image: none;
}

.u-section-1 .u-table-cell-28 {
  background-image: none;
}

.u-section-1 .u-table-cell-29 {
  background-image: none;
}

.u-section-1 .u-table-cell-30 {
  background-image: none;
}

.u-section-1 .u-table-cell-31 {
  background-image: none;
}

.u-section-1 .u-table-cell-35 {
  background-image: none;
}

.u-section-1 .u-table-cell-36 {
  background-image: none;
}

.u-section-1 .u-table-cell-37 {
  background-image: none;
}

.u-section-1 .u-tab-pane-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  margin-top: -15px;
  margin-bottom: 0;
}

.u-section-1 .u-text-3 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 20px 0 -15px;
}

.u-section-1 .u-tab-pane-4 {
  background-image: none;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px;
}

.u-section-1 .u-text-4 {
  margin-top: -15px;
  margin-bottom: 0;
}

.u-section-1 .u-text-5 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 20px 0 -15px;
}

.u-section-1 .u-layout-wrap-2 {
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 404px;
}

.u-section-1 .u-container-layout-9 {
  padding: 0;
}

.u-section-1 .u-group-4 {
  min-height: 178px;
  height: auto;
  width: 555px;
  background-image: none;
  margin: 0 20px 0 0;
}

.u-section-1 .u-container-layout-10 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-1 .u-text-6 {
  margin: 10px auto 0;
}

.u-section-1 .u-group-5 {
  min-height: 170px;
  height: auto;
  background-image: none;
  width: 555px;
  margin: 30px auto 0;
}

.u-section-1 .u-container-layout-11 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-7 {
  margin: 10px auto 0;
}

.u-section-1 .u-image-1 {
  height: 45px;
  width: 418px;
  margin: 3px auto 0;
}

.u-section-1 .u-text-8 {
  font-size: 1rem;
  margin: 7px 0 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 404px;
}

.u-section-1 .u-container-layout-12 {
  padding: 0;
}

.u-section-1 .u-group-6 {
  min-height: 378px;
  height: auto;
  width: 555px;
  margin: 0 auto -15px;
}

.u-section-1 .u-container-layout-13 {
  padding: 0;
}

.u-section-1 .u-text-9 {
  margin: 7px auto 0;
}

.u-section-1 .u-image-2 {
  height: 302px;
  width: 548px;
  margin: 0 0 0 2px;
}

.u-section-1 .u-layout-wrap-3 {
  margin-top: 375px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 381px;
}

.u-section-1 .u-container-layout-14 {
  padding: 0;
}

.u-section-1 .u-group-7 {
  min-height: 178px;
  height: auto;
  width: 555px;
  background-image: none;
  margin: 0 20px 0 0;
}

.u-section-1 .u-container-layout-15 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-1 .u-text-10 {
  margin: 10px auto 0;
}

.u-section-1 .u-group-8 {
  min-height: 170px;
  height: auto;
  background-image: none;
  width: 555px;
  margin: 30px auto 0 0;
}

.u-section-1 .u-container-layout-16 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-11 {
  margin: 10px auto 0;
}

.u-section-1 .u-image-3 {
  height: 45px;
  width: 418px;
  margin: 3px auto 0;
}

.u-section-1 .u-text-12 {
  font-size: 1rem;
  margin: 7px 0 0;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 381px;
}

.u-section-1 .u-container-layout-17 {
  padding: 0;
}

.u-section-1 .u-group-9 {
  min-height: 381px;
  height: auto;
  width: 555px;
  margin: 0 0 -18px auto;
}

.u-section-1 .u-container-layout-18 {
  padding: 0;
}

.u-section-1 .u-text-13 {
  margin: 7px auto 0;
}

.u-section-1 .u-image-4 {
  height: 302px;
  width: 548px;
  margin: 0 0 0 2px;
}

.u-section-1 .u-layout-wrap-4 {
  height: 400px;
  margin-top: 914px;
  margin-bottom: 60px;
  position: relative;
}

.u-section-1 .u-container-layout-19 {
  padding: 30px;
}

.u-section-1 .u-container-layout-20 {
  padding: 30px;
}

@media (max-width: 1199px) {
  /* .u-section-1 .u-sheet-1 {
    min-height: 3969px;
  } */

  .u-section-1 .u-tabs-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-table-1 {
    width: 940px;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 778px;
  }

  .u-section-1 .u-group-3 {
    height: auto;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-table-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 333px;
  }

  .u-section-1 .u-group-4 {
    width: 470px;
    margin-right: 0;
    height: auto;
  }

  .u-section-1 .u-container-layout-10 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-group-5 {
    width: 470px;
    height: auto;
  }

  .u-section-1 .u-container-layout-11 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 333px;
  }

  .u-section-1 .u-group-6 {
    width: 470px;
    height: auto;
  }

  .u-section-1 .u-container-layout-13 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-image-2 {
    height: 259px;
    width: 470px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 314px;
  }

  .u-section-1 .u-group-7 {
    width: 470px;
    margin-right: 0;
    height: auto;
  }

  .u-section-1 .u-container-layout-15 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-group-8 {
    width: 470px;
    height: auto;
  }

  .u-section-1 .u-container-layout-16 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 314px;
  }

  .u-section-1 .u-group-9 {
    width: 470px;
    height: auto;
  }

  .u-section-1 .u-container-layout-18 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-image-4 {
    height: 259px;
    width: 470px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-wrap-4 {
    margin-top: 1317px;
    height: auto;
  }
}

@media (max-width: 991px) {
  /* .u-section-1 .u-sheet-1 {
    min-height: 3541px;
  } */

  .u-section-1 .u-table-1 {
    width: 720px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 239px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 239px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 596px;
  }

  .u-section-1 .u-group-3 {
    width: 360px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-group-4 {
    width: 360px;
  }

  .u-section-1 .u-group-5 {
    width: 360px;
  }

  .u-section-1 .u-image-1 {
    height: 39px;
    width: 360px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 229px;
  }

  .u-section-1 .u-group-6 {
    width: 360px;
  }

  .u-section-1 .u-image-2 {
    height: 198px;
    width: 360px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-group-7 {
    width: 360px;
  }

  .u-section-1 .u-group-8 {
    width: 360px;
  }

  .u-section-1 .u-image-3 {
    height: 39px;
    width: 360px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 229px;
  }

  .u-section-1 .u-group-9 {
    width: 360px;
  }

  .u-section-1 .u-image-4 {
    height: 198px;
    width: 360px;
  }

  .u-section-1 .u-layout-wrap-4 {
    margin-top: 1304px;
  }
}

@media (max-width: 767px) {
  /* .u-section-1 .u-sheet-1 {
    min-height: 3741px;
  } */

  .u-section-1 .u-tab-link-4 {
    font-size: 1rem;
  }

  .u-section-1 .u-table-1 {
    width: 540px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 179px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 179px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 894px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 344px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 344px;
  }

  .u-section-1 .u-layout-wrap-4 {
    margin-top: 941px;
  }

  .u-section-1 .u-container-layout-19 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-20 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-table-1 {
    width: 340px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 113px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 113px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 563px;
  }

  .u-section-1 .u-group-3 {
    width: 340px;
  }

  .u-section-1 .u-group-4 {
    width: 340px;
  }

  .u-section-1 .u-group-5 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    height: 37px;
    width: 340px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 217px;
  }

  .u-section-1 .u-group-6 {
    width: 340px;
  }

  .u-section-1 .u-image-2 {
    height: 187px;
    width: 340px;
  }

  .u-section-1 .u-group-7 {
    width: 340px;
  }

  .u-section-1 .u-group-8 {
    width: 340px;
  }

  .u-section-1 .u-image-3 {
    height: 37px;
    width: 340px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 217px;
  }

  .u-section-1 .u-group-9 {
    width: 340px;
  }

  .u-section-1 .u-image-4 {
    height: 187px;
    width: 340px;
  }

  .u-section-1 .u-layout-wrap-4 {
    margin-top: 943px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 400px;
}.u-section-3 .u-sheet-1 {
  min-height: 555px;
}

.u-section-3 .u-text-1 {
  margin: 37px auto 0;
}

.u-section-3 .u-form-1 {
  height: 413px;
  width: 570px;
  margin: 36px auto 18px;
}

@media (max-width: 767px) {
  .u-section-3 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-form-1 {
    width: 340px;
  }
}.u-tab-item{
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
	border-radius: 5px
}
.u-tab-content{
	margin-top: 20px
}
.u-group-1, .u-container-layout-11, .u-container-layout-12, .u-container-layout-14, .u-group-4{
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
.u-tab-link{
	border-radius: 5px
} 



.u-custom-color-7 {
  color: #ffffff !important;
  background-color: #3c7e7d !important;
}

table, th, td {
  border-color: #306463;
}
table {
  margin-bottom: 20px;
}

.no-padding{
  padding: 0px !important;
}



/* feedback styles */

.margin-top-10{
  margin-top: 10px;
}
/* Variables */
:root {
  --light-blue: #edf0f5;
  --blue: #3870c4;
  --black: #202125;
  --red: #c92121;
}

/* Rating Styles */
.rating-wrapper {
  max-width: 400px;
  margin: 80px auto;
  background: #fff;
  padding: 1em;
  border-radius: 3px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, .10);
}

.rating-wrapper .rating-label {
  text-align: center;
  font-weight: 700;
  display: block;
}

.rating-wrapper .ratingItemList {
  max-width: 300px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 1em 0;
}

.rating-wrapper input.rating {
  display: none;
}

.rating-wrapper label.rating {
  padding: 5px 3px;
  font-size: 32px;
  opacity: .7;
  filter: grayscale(1);
  cursor: pointer;
}

.rating-wrapper label.rating:hover {
  filter: grayscale(.84);
  transform: scale(1.1);
  transition: 100ms ease;
}

.rating-wrapper input.rating:checked+label.rating {
  filter: grayscale(0);
  opacity: 1;
  transform: scale(1.1);
}

/* Feedback Styles */
.feedback {
  width: 100%;
  display: none;
}

.feedback textarea,
.feedback input {
  max-width: 300px;
  width: 100%;
  display: block;
  margin: .5em auto;
  padding: .5em;
  font-family: 'Lato', sans-serif;
  border: 1px solid black;
  border-radius: 3px;
}

.feedback textarea:focus,
.feedback input:active {
  border-color: var(--blue);
  box-shadow: 0px 0px 1px 1px var(--blue);
  transition: 100ms;
}

.feedback textarea {
  height: 100px;
}

.feedback button {
  margin: 1em auto;
  display: table;
  text-align: center;
}


.feedback-button {
  color: lighten(var(--black), 80%);
  background-color: lighten(var(--black), 50%);
  border-radius: 3px;
  font-family: 'Lato', Arial, sans-serif;
  border: 0;
  padding: 9px 15px;
  font-size: 15px;
}

.feedback-button:disabled {
  color: white;
  background-color: #3870c4be;
  text-shadow: 0px 1px 1px darken(var(--blue), 20%);
  cursor: pointer;
}

.feedback-button.not-disabled {
  color: white;
  background-color: var(--blue);
  text-shadow: 0px 1px 1px darken(var(--blue), 20%);
  cursor: pointer;
}

.feedback-button.not-disabled:hover {
  background-color: #214478;
  transition: 100ms;
}



/* bar chart styles */

.storage-bar {
  margin-top: 10px;
  margin-left: 10px;
  width: calc(100%-10px);
  background-color: #f2f2f2;
  border-radius: 4px !important;
  /* overflow: hidden; */
  height: 10px;
  display: flex;
}

.storage-fill {
  height: 100%;
  width: 0;
  transition: width 0.5s ease;
  position: relative;
}

.storage-fill::after {
  content: attr(data-width);
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  padding: 4px 8px;
  background-color: #333;
  color: #fff;
  border-radius: 4px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.storage-fill:hover::after {
  opacity: 1;
}

.fill1 {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  background-color: #4CAF50;
  /* Green color for fill 1 */
}

.fill2 {
  background-color: #FFC107;
  /* Amber color for fill 2 */
}

.fill3 {
  background-color: #9C27B0;
  /* Purple color for fill 3 */
}

.fill4 {
  background-color: #F44336;
  /* Red color for fill 4 */
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

.bar-legend {
  /* margin-left: 40vw; */
  /* margin-bottom: 40vw; */
  display: flex;
  justify-content: center;
  margin-top: 10px;

}

.bar-legend-item {
  display: flex;
  align-items: center;
  white-space: nowrap;
  margin-right: 20px;
  font-size: 12px;
}


.bar-legend-color {
  width: 12px;
  height: 12px;
  margin-right: 5px;
  border-radius: 3px;
}